@import "common.scss";
nav {
    width: 100%;
    height: 73px;
    margin-top: 72px;
    background: rgba(206, 206, 206, 0.43);
    .container {
        margin: 0 auto;
        height: 73px;
        padding: 0 70px;
        line-height: 73px;
        text-align: center;
        @include flex();
        a {
            height: 62px;
            flex: 1;
            font-size: 16px;
            color: #181818;
            text-decoration: none;
            cursor: pointer;
            position: relative;
        }
        a:hover {
            color: #1872d0;
        }
        a.active {
            color: #1872d0;
        }
        a.active:after {
            content: '';
            position: absolute;
            height: 4px;
            width: 32px;
            border-radius: 2px;
            bottom: 2px;
            left: calc(50% - 16px);
            background-image: url('../images/dianbo/nav_xzk.png');
            background-size: cover;
        }
        .toggle_box {
            width: 186px;
            height: 288px;
            display: none;
            position: absolute;
            left: 12px;
            top: 84px;
            background: #fff;
            text-align: left;
            z-index: 299;
            div {
                height: 48px;
                line-height: 48px;
                padding: 0 20px;
                color: #666;
                font-size: 14px;
            }
            div.active {
                color: #000;
                background: #f2f6f9;
                position: relative;
            }
            div.active:after {
                content: '';
                position: absolute;
                height: 12px;
                width: 12px;
                border-radius: 100%;
                background: #1872d0;
                top: calc(50% - 6px);
                right: 20px;
            }
        }
    }
}

.banner-box {
    position: relative;
    height: 648px;
    .imgbox {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .banner-img {
        height: 160px;
        padding: 0 15px 0 30px;
    }
    .bannerc-img {
        position: absolute;
        bottom: 0;
        height: 160px;
        width: 100%;
    }
    .box {
        @include flex();
        .boxs {
            flex: 1;
            height: 100%;
            img {
                display: block;
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }
}

body {
    background: #f8f8f8;
}

.huifg {
    background: url(../images/huifenge.png) no-repeat center bottom;
    background-size: contain;
}

.xi-onfig {
    .configtext {
        padding-top: 44px;
        padding-bottom: 28px;
        text-align: center;
        font-size: 32px;
        line-height: 32px;
        background: url(../images/zhuangshitiao.png) no-repeat center center;
        background-size: contain;
    }
    .configbox {
        position: relative;
        .choose-item {
            .list-select-name {
                float: left;
                width: 150px;
                line-height: 31px;
                text-align: right;
                padding-right: 48px;
            }
            .select-box {
                margin-left: 150px;
                max-width: 700px;
                font-size: 14px;
                .rightTopBox{
                    .item-box {
                        width: 172px;
                        margin-top: 9px;
                        margin-right: 18px;
                        float: left;
                        .item {
                            width: 172px;
                            height: 172px;
                            border: 1px solid #e8eaf9;
                            position: relative;
                            background: #fff;
                            .jiabck {
                                height: 54px;
                                background: url(../images/jia.png) no-repeat center center;
                                background-size: 30px 30px;
                            }
                            .close {
                                position: absolute;
                                background: url(../images/close.png) no-repeat center center;
                                background-size: contain;
                                top: 12px;
                                right: 11px;
                                height: 14px;
                                z-index: 10;
                                width: 12px;
                            }
                            .box-text-detail-bottom {
                                text-align: center;
                                font-size: 12px;
                                color: #c7c7c7;
                                line-height: 36px;
                            }
                            .inputbox {
                                width: 130px;
                                height: 32px;
                                background: #f0f2f5;
                                margin: 0 auto;
                                input {
                                    // display: block;
                                    background: #f0f2f5;
                                    height: 100%;
                                    padding: 0 11px;
                                    text-align: right;
                                    font-size: 14px;
                                    width: 80%;
                                    border: 0;
                                }
                            }
                            .icobxox {
                                height: 93px;
                                width: 172px;
                                @include flex();
                                @include align-items(center);
                                @include justify-content (center);
                                img {
                                    height: 49px;
                                    width: 37px;
                                }
                            }
                        }
                    }
                }
                .text-zd {
                    text-align: left;
                    font-size: 14px;
                    padding-top: 23;
                    padding-bottom: 34px;
                }
                .choosebox:last-child {
                    margin-right: 0;
                }
                .text-choose {
                    line-height: 60px;
                    font-size: 12px;
                    float: left;
                    color: #898989;
                }
                .choosebox:after {
                    content: "";
                    position: absolute;
                    height: 32px;
                    width: 35px;
                    top: 0;
                    right: 0;
                    background: url(../images/go-bottom.png) no-repeat;
                    background-position: center center;
                    background-size: 12px 7px;
                }
                .choosebox {
                    position: relative;
                    float: left;
                    margin-right: 18px;
                }
                .chooseboxs {
                    width: 130px;
                    height: 32px;
                    background: #fff;
                }
                .chooseboxbig {
                    width: 396px;
                    height: 32px;
                    margin-right: 0;
                    position: relative;
                    background: #fff;
                }
                .choosextdetai {
                    width: 396px;
                    height: 32px;
                    padding: 0 13px;
                    border-radius: 0;
                    border: 1px solid #e8e9f8;
                    position: absolute;
                    background: transparent;
                    z-index: 12;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                }
                .choosext {
                    width: 130px;
                    height: 32px;
                    padding: 0 13px;
                    border-radius: 0;
                    border: 1px solid #e8e9f8;
                    position: absolute;
                    top: 0;
                    background: transparent;
                    z-index: 12;
                    left: 0;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                }
            }
        }
    }
}

.xi-onfigs {
    padding-top: 38px;
}

.jiqi-back {
    background: url(../images/jiqi.png) no-repeat;
    background-position: 78% 17%;
    background-size: 39% 100%;
}

.basic-configuration {
    background: #fff;
    .configtext {
        padding-top: 44px;
        padding-bottom: 28px;
        text-align: center;
        font-size: 32px;
        line-height: 32px;
        background: url(../images/zhuangshitiao.png) no-repeat center center;
        background-size: contain;
    }
    .schde-f {
        padding-bottom: 35px;
    }
    .schedule {
        padding-bottom: 10px;
        .th-icon {
            position: absolute;
            top: -40px;
            height: 25px;
            width: 37px;
            background: url(../images/tehui.png) no-repeat center center;
            background-size: contain;
        }
        .shpcarj {
            position: relative;
            height: 36px;
            margin: 10px 0;
            text-align: right;
            .text-detail {
                font-size: 12px;
                line-height: 20px;
                color: #1872d0;
                text-align: right;
            }
            .box-s {
                position: absolute;
                right: -2%;
                top: 4px;
                border: 1px solid #f0f2f5;
                @include flex();
                width: 185px;
                height: 32px;
                .jian {
                    height: 30px;
                    width: 44px;
                    text-align: center;
                    background: #fff;
                    color: #1873d0;
                    line-height: 26px;
                    font-size: 29px;
                }
                .jia {
                    height: 30px;
                    width: 44px;
                    text-align: center;
                    background: #fff;
                    color: #1873d0;
                    line-height: 26px;
                    font-size: 29px;
                }
                .inp {
                    width: 97px;
                    height: 30px;
                    input {
                        width: 97px;
                        padding: 0 5px;
                        height: 30px;
                        border: 0;
                        background: #f0f2f5;
                        ;
                    }
                }
            }
        }
        .num-text {
            height: 47px;
            padding-top: 24px;
            position: relative;
        }
        .schedule-item {
            margin-left: 150px;
            max-width: 890px;
            .config-q {
                position: relative;
                height: 18px;
                width: 18px;
                background: #fff;
                position: absolute;
                border-radius: 100%;
                top: -7px;
                border: 2px solid #1873d0;
            }
            .config-h {
                border: 2px solid #a0a0a0;
            }
            .config002 {
                position: absolute;
                left: 12.5%;
            }
            .config003 {
                position: absolute;
                left: 25%;
            }
            .config004 {
                position: absolute;
                left: 37.5%;
            }
            .config005 {
                position: absolute;
                left: 50%;
            }
            .config006 {
                position: absolute;
                left: 62.5%;
            }
            .config007 {
                position: absolute;
                left: 75%;
            }
            .config008 {
                position: absolute;
                left: 87.5%;
            }
            .config009 {
                position: absolute;
                left: 99.999999%;
            }
            .config1 {
                position: absolute;
                left: -3px;
            }
            .config2 {
                position: absolute;
                left: 16.6666666%;
            }
            .config02 {
                position: absolute;
                left: 8.33333%;
            }
            .config3 {
                position: absolute;
                left: 33.33333333%;
            }
            .config03 {
                position: absolute;
                left: 16.6666667%;
            }
            .config4 {
                position: absolute;
                left: 50%;
            }
            .config04 {
                position: absolute;
                left: 25%;
            }
            .config5 {
                position: absolute;
                left: 66.66666666666%;
            }
            .config05 {
                position: absolute;
                left: 33.33333333%;
            }
            .config6 {
                position: absolute;
                left: 83.333333333%;
            }
            .config06 {
                position: absolute;
                left: 41.6666667%
            }
            .config7 {
                position: absolute;
                left: 99.99999%;
            }
            .config07 {
                position: absolute;
                left: 50%;
            }
            .config08 {
                position: absolute;
                left: 58.333333%;
            }
            .config09 {
                position: absolute;
                left: 66.666667%;
            }
            .config10 {
                position: absolute;
                left: 75%;
            }
            .config11 {
                position: absolute;
                left: 83.333333%;
            }
            .config12 {
                position: absolute;
                left: 91.666667%;
            }
            .config13 {
                position: absolute;
                left: 99.99999%;
            }
            .text2 {
                left: 99%;
            }
            .text3 {
                left: 82.333333333%;
            }
            .schedule-config {
                width: 100%;
                height: 8px;
                border: 1px solid #a0a0a0;
                position: relative;
                margin-top: 11px;
                .schedule-config-l1 {
                    position: absolute;
                    width: 51%;
                    height: 10px;
                    left: -1px;
                    background: url(../images/jindutiao.png) no-repeat center center;
                    background-size: cover;
                    top: -2px;
                }
                .schedule-config-l {
                    position: absolute;
                    width: 83.86533333%;
                    height: 10px;
                    left: -1px;
                    background: url(../images/jindutiao.png) no-repeat center center;
                    background-size: cover;
                    top: -2px;
                }
            }
        }
        .schedule-name {
            float: left;
            width: 150px;
            line-height: 31px;
            text-align: right;
            padding-right: 48px;
        }
    }
    .schde-f {
        padding-bottom: 35px;
    }
    .configbox {
        position: relative;
        .show-detail {
            width: 288px;
            height: 458px;
            position: absolute;
            background: #fff;
            z-index: 10;
            right: 0px;
            top: 160px;
            border: 1px solid #e9eaef;
            padding-top: 24px;
            .buy-btn {
                width: 200px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
                margin: 0 auto;
                border: 1px solid #1872d0;
                span {
                    color: #1872d0;
                }
            }
            .money-detail {
                height: 80px;
                line-height: 80px;
                text-align: center;
                font-size: 24px;
                .text-iocn {
                    position: relative;
                }
                .text-iocn::after {
                    content: '';
                    position: absolute;
                    right: - 40px;
                    height: 26px;
                    width: 18px;
                    top: 0;
                    background: url(../images/renminbi-icon.png) no-repeat center center;
                    background-size: contain;
                }
            }
            .detail-item {
                padding-top: 14px;
                line-height: 12px;
                font-size: 12px;
                @include flex();
                .detail-name {
                    width: 97px;
                    padding-right: 22px;
                    color: #c7c7c7;
                    text-align: right;
                }
                .detail-text {
                    flex: 1;
                }
            }
            .detail-title {
                font-size: 16px;
                color: #1872d0;
                padding-bottom: 10px;
                text-align: center
            }
        }
        .list-item {
            margin-bottom: 16px;
            .list-select-name {
                float: left;
                width: 150px;
                line-height: 31px;
                text-align: right;
                padding-right: 48px;
            }
            .select-box {
                margin-left: 150px;
                max-width: 680px;
                .item {
                    width: 108px;
                    vertical-align: middle;
                    margin-bottom: 8px;
                    display: inline-block;
                    height: 31px;
                    line-height: 31px;
                    text-align: center;
                    color: #000;
                    position: relative;
                    font-size: 14px;
                    .text-c {
                        position: relative;
                    }
                    .texttehui:after {
                        content: '';
                        height: 21px;
                        width: 22px;
                        background: url(../images/tehui.png) no-repeat center center;
                        background-size: contain;
                        right: -26px;
                        top: -6px;
                        position: absolute;
                    }
                }
                .active {
                    border: 1px solid #267ad3;
                    background: #f2f6f9;
                    border-radius: 20px;
                    line-height: 29px;
                }
            }
        }
    }
}

.l-name {
    float: left;
    width: 150px;
    line-height: 31px;
    color: #898989;
    text-align: right;
    padding-right: 48px;
}

.choose-let {
    margin-left: 150px;
    max-width: 890px;
    .itemsbtn {
        width: 110px;
        // padding: 0 26px;
        text-align: center;
        line-height: 33px;
        font-size: 14px;
        float: left;
        cursor: pointer;
    }
    .second{
        width: 136px;
    }
    .inp-text {
        @include flex();
        input {
            width: 342px;
            border: 0;
            padding: 0 8px;
            height: 32px;
            font-size: 12px;
            background: #f0f2f5;
        }
        .yes-icon {
            width: 68px;
            height: 32px;
            background: url(../images/ye-icon.png) no-repeat center center;
            background-size: 23px 15px;
        }
    }
    .active {
        border: 1px solid #1872d0;
        border-radius: 20px;
        line-height: 31px;
        font-size: 14px;
    }
    .ptop-text-detail {
        float: left;
        width: 100%;
        font-size: 12px;
        height: 57px;
        color: #898989;
        line-height: 57px;
    }
}

.configbox-b {
    padding: 34px 0 29px 0;
    .leftname {
        float: left;
        width: 150px;
        line-height: 31px;
        color: #1872d0;
        font-size: 16px;
        text-align: right;
        padding-right: 48px;
    }
    .configleft {
        margin-left: 150px;
        max-width: 890px;
        @include flex();
        .rightBox {
            width: 168px;
            height: 172px;
            background: #fff;
            .img {
                margin-top: 24px;
                text-align: center;
                margin-bottom: 20px;
            }
            .num {
                height: 32px;
                @include flex();
                @include justify-content(center);
                @include align-items(center);
                .jian {
                    width: 20px;
                    height: 32px;
                    line-height: 32px;
                    color: #1872d0;
                    font-size: 30px;
                    margin-right: 12px;
                    text-align: center;
                    cursor: pointer;
                }
                input {
                    width: 80px;
                    height: 32px;
                    background: #f0f2f5;
                    border: none;
                    text-align: center;
                    color: #000;
                }
                .jia {
                    width: 20px;
                    height: 32px;
                    line-height: 32px;
                    color: #1872d0;
                    font-size: 30px;
                    margin-left: 12px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            p {
                margin-top: 12px;
                margin-bottom: 0;
                font-size: 12px;
                color: #666;
                text-align: center;
            }
        }
    }
    .box-text {
        width: 520px;
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        -o-flex: 1;
        // @include flex();
        .itemlistText {
            @include flex();
            padding-bottom: 8px;
            line-height: 29px;
            .name {
                width: 82px;
                font-size: 14px;
                text-align: right;
                padding-right: 22px;
                color: #898989;
            }
            .text {
                flex: 1;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                -o-flex: 1;
                font-size: 14px;
                color: #181818;
            }
        }
    }
}

.pzfy {
    background: #fff;
    .container {
        height: 180px;
        @include flex();
        @include align-items(center);
        .leftname {
            float: left;
            width: 150px;
            line-height: 31px;
            color: #1872d0;
            font-size: 16px;
            text-align: right;
            padding-right: 48px;
        }
        .price {
            padding-left: 470px;
            margin-right: 102px;
            font-size: 20px;
            color: #000;
            @include flex();
            @include justify-content(flex-start);
            @include align-items(center);
            span.num {
                padding-right: 26px;
            }
            span.rmb {
                width: 17px;
                height: 24px;
                background: transparent url('../images/rmb.png') center no-repeat;
            }
        }
        .priceMore {
            width: 200px;
            height: 48px;
            line-height: 44px;
            border: 2px solid #1872d0;
            text-align: center;
            font-size: 16px;
            color: #000;
            cursor: pointer;
            span {
                color: #1872d0;
            }
        }
    }
}