@mixin box ($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    -o-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin flex () {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-content ($justify-content) {
    -webkit-justify-content: $justify-content;
    justify-content: $justify-content;
    -moz-box-pack: $justify-content;
    -webkit--moz-box-pack: $justify-content;
    box-pack: $justify-content;
}
@mixin align-items ($align-items) {
    align-items: $align-items;
    -webkit-align-items: $align-items;
    box-align: $align-items;
    -moz-box-align: $align-items;
    -webkit-box-align: $align-items;
}
