.swiper-container {
    width: 100%;
    height: 700px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.banner-box .swiper-container .swiper-pagination-bullet-active {
    background: #007aff;
}

.banner-box .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 18px;
    z-index: 666;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 22px;
}

.banner-box .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    background: transparent;
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    height: 72px;
    width: 100%;
    z-index: 100;
    background: rgba(206, 206, 206, 0.43);
}

header .container {
    height: 72px;
}

.login {
    width: 100px;
    height: 32px;
    cursor: pointer;
    float: right;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #007aff;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-top: 22px;
    margin-right: 30px
}

.login a,
.regiser a {
    text-decoration: none;
}

.login:hover {
    background: #fff;
}

.regiser:hover {
    background: #fff;
}

.regiser {
    cursor: pointer;
    width: 100px;
    height: 32px;
    float: right;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 22px;
}

.logo {
    width: 180px;
    height: 48px;
    margin-top: 12px;
    float: left;
    display: block;
}

.phone {
    float: right;
    line-height: 70px;
    padding-left: 28px;
    color: #000;
    background: url(../images/phoneblack.png) no-repeat left center;
    background-size: 16px 20px;
    font-size: 14px;
}

.logo img {
    width: 180px;
    height: 48px;
}

.four {
    height: auto;
    margin-top: 30px;
}
.four>div[class*='col-']{
    height: 173px;
}


// .four{
//     overflow: hidden;
// }
.rmtj {
    margin-top: 30px;
}

.navcantainer a:hover {
    color: #1872d0;
}

nav {
    width: 100%;
    height: 73px;
    margin-top: 72px;
    background: transparent url("../images/dianbo/nav_bg.png") no-repeat;
}

nav .container {
    margin: 0 auto;
    height: 73px;
    line-height: 73px;
    padding: 0 70px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

nav .container a {
    height: 62px;
    flex: 1;
    font-size: 16px;
    color: #181818;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

nav .container a.active:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 32px;
    border-radius: 2px;
    bottom: 2px;
    left: calc(50% - 16px);
    background-image: url("../images/dianbo/nav_xzk.png");
    background-size: cover;
}

nav .container .toggle_box {
    display: none;
    width: 186px;
    height: 288px;
    position: absolute;
    left: 12px;
    top: 84px;
    background: #fff;
    text-align: left;
    z-index: 299;
}

nav .container .toggle_box div {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #666;
    font-size: 14px;
}

nav .container .toggle_box div.active {
    color: #000;
    background: #f2f6f9;
    position: relative;
}

nav .container .toggle_box div.active:after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #1872d0;
    top: calc(50% - 6px);
    right: 20px;
}

h3,
.rmtj h3 {
    background: url('../images/zhuangshitiao.png') no-repeat 0 center;
    background-size: contain;
    font-size: 30px;
}

.bg {
    margin-top: 40px;
    height: 560px;
    background: url('../images/yfwq.png') no-repeat;
    background-size: 100% 100%;
}

.tab-hot {
    height: 68px;
    display: flex;
    width: 58%;
    margin: 40px auto 50px auto;
    align-items: center;
    position: relative;
}

.all-real {
    margin-top: 34px;
    background: url('../images/bckl.png') no-repeat;
    background-size: 100% 100%;
    height: 98px;
}

.text-top {
    padding-top: 12px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.bor-rder {
    border-right: 1px solid #1872d0;
}

.title-top {
    font-size: 16px;
    margin-top: 10px;
    min-height: 66px;
}

.title-tops {
    font-size: 16px;
    margin-top: 10px;
}

.tab-hot .active {
    color: #1872d0;
}

.tab-hot>.tab-item {
    cursor: pointer;
}

.tab-hot .active:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 63px;
    height: 2px;
    left: calc(50% - 31px);
    background: #1872d0;
}

.box-h {
    background: #f8f8f8;
}

.gomore {
    width: 202px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #1872d0;
    color: #1872d0;
    margin: 40px auto 28px auto;
    cursor: pointer;
}

.more {
    height: 38px;
    border: 1px solid #1872d0;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    margin: 0 20px;
}

.mart-6 a {
    text-decoration: none;
    color: #000d1a;
}

.tab-item {
    width: 50%;
    padding: 16px 40px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.title-text {
    font-size: 14px;
}

.mart2 {
    margin-bottom: 20px;
}

.type {
    margin-top: 40xp;
    text-align: center;
    font-size: 24px;
    padding-bottom: 12px;
    font-weight: 500;
    color: #000;
}

.money {
    padding-bottom: 20px;
    color: #1872d0;
    font-size: 16px;
    text-align: center;
}

.detail-hot {
    height: 240px;
    border-left: 1px solid #1872d0;
    color: #000;
    font-size: 16px;
}

.box-img {
    height: 100px;
    display: flex;
    justify-content: center;
}

.hot-detaimg {
    height: 90px;
    width: auto;
}

.img-shoose {
    padding-bottom: 16px;
}

.text-ca {
    font-size: 18px;
}

.hot-detail-item {
    padding-bottom: 2px;
    // text-align: center;
}

.text-choose-d {
    font-size: 14px;
    padding-bottom: 4px;
    text-align: left;
}

.hot-detail-item span {
    padding-left: 40px;
    padding-right: 20px;
}

.mart4 {
    margin-top: 40px;
    height: 172px;
    padding-left: 30px;
    padding-right: 30px;
}

.choose-g {
    padding-top: 50px;
    font-size: 24px;
}

.mart-6 {
    margin-top: 40px;
}

.no_bar {
    background: transparent;
}

.mart-6 .container,
.mart-6 h3 {
    background: #fff
}

.mart-6 h3 {
    margin: 0;
    height: 140px;
    line-height: 140px;
    background: #fff url(../images/zhuangshitiao.png) no-repeat 0 center;
    background-size: contain;
}

.mart-6 .container .row>[class*='col-'] {
    height: 400px;
    padding: 70px 76px 30px;
}

.mart-6 .container .row>[class*='col-']:hover {
    box-shadow: 0 0 10px 1px #bec2cf;
}

.mart-dt .jfdt {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    position: relative;
}

.mart-dt .jfdt #main{
    margin: 0 auto  ;
}

.mart-dt .jfdt .gnjd {
    max-width: 160px;
    position: absolute;
    left: 10%;
    top: 30px;
}

.mart-dt .jfdt .gwjd {
    max-width: 160px;
    position: absolute;
    left: calc(10% + 180px);
    top: 30px;
}

.mart-dt .jfdt_detail {
    background: #fff;
    // height: 242px;
    height: 220px;
    position: relative;
}

.mart-dt .jfdt_detail>div {
    position: absolute;
    left: calc(50% - 250px);
    top: -38px;
    box-shadow: 0 0 10px 1px #bec2cf;
}

.mart-dt .jfdt_detail>div b {
    position: absolute;
    left: 32px;
    display: block;
    font-size: 32px;
    color: 1872d0;
}

.mart-dt .jfdt_detail>div .city {
    top: 32px;
}

.mart-dt .jfdt_detail>div .city_feature {
    top: 76px;
}

.mart-dt .jfinfo{
    background: #fff;
}

.mart-dt .jfinfo .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.mart-dt .jfinfo .item{
    display: flex;
    align-items: center;
    // justify-content: center;
}

.mart-dt .jfinfo .item>div{
    width: 95px;
}

.mart-dt .no_margin {
    background: #fff;
}

.mart-dt .container {
    font-size: 16px;
    margin-bottom: 20px;
}

.mart-dt .container>div[class*='col-'] {
    min-height: 80px;
    vertical-align: middle;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mart-dt .container>div[class*='col-']:nth-child(even) {
    border: 0;
}

.mart-dt .container b {
    font-size: 20px;
}

.boxs-num a {
    text-decoration: none;
}

.footer_bottom .bottom_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-for {
    padding-bottom: 20px;
    color: #e95048;
    font-size: 12px;
    height: 17px;
    text-align: center;
}

@media (max-width: 768px) {
    .boxs-num .type {
        margin-top: 40px;
    }
    .logo {
        margin-left: 0;
        width: 100%;
        display: flex;
        margin-top: 12px;
    }
    .mart-dt .jfdt_detail>div {
        width: 100%;
        left: 0;
    }
    .mart-dt .jfdt_detail>div b {
        left: 80px;
    }
    .regiser {
        width: 64px;
        margin-right: 0px;
    }
    .login {
        width: 64px;
        margin-right: 18px;
    }
    .logo img {
        width: 90%;
        height: auto;
    }
    .swiper-container {
        width: 100%;
        height: 235px;
    }
    .mart-dt .jfdt {
        height: 295px;
        background-size: 100% 100%;
    }
    .detail-hot {
        border: none;
    }
    h3 {
        background: transparent;
    }
    .bg {
        margin-top: 40px;
        height: 190px;
    }
    .tab-hot {
        margin: 0;
        width: 100%;
    }
    .tab-item {
        padding: 10px 0;
        width: 50%;
        text-align: center;
    }
    .tab-hot .active:after {
        left: 27%;
    }
    .all-real {
        height: auto;
        padding-bottom: 12px;
    }
    .mart4 {
        margin-top: 40px;
        height: 172px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .mart-6 h3 {
        margin: 0;
        height: auto;
        line-height: 33px;
        padding: 30px 0;
        background: #fff;
    }
    .mart-6 .container .row>[class*='col-'] {
        height: 400px;
        padding: 30px 20px 30px;
    }
    .mart-6 .container .row>.active {
        box-shadow: 0 0 10px 1px #bec2cf;
    }
    .mart-dt .jfdt_detail img {
        width: 100%;
        display: block;
    }
}