.section {
    margin-top: 72px;
    height: 868px;
    background: url(../images/loginbackground.png) no-repeat;
    background-size: 100% 217%;
    .login-box {
        margin-left: 80px;
        margin-right: 80px;
        background: #fff;
    }
}