@import "common.scss";
.section {
    background: url(../images/qxbackground.png) no-repeat center top;
    background-size: 100% 244%;
    height: 838px;
    position: relative;
    @include flex();
    @include justify-content(center);
    .login-box {
        margin: 146px 0;
        height: 580px;
        padding-top: 90px;
        background: rgba(17, 21, 25, 0.6);
        .lognbox {
            margin: 0 95px;
        }
        position: relative;
        .lognbbox {
            height: 382px;
            padding: 0;
            @include flex();
            @include align-items(center);
        }
        .logindiv {
            padding: 48px 0 46px 0;
            height: 382px;
            background: #fff;
            .logn-title {
                padding-bottom: 18px;
                font-size: 32px;
                line-height: 32px;
                font-weight: 500;
                text-align: center;
            }
            .text-box {
                @include flex();
                @include justify-content(flex-end);
                color: #4083d4;
                font-size: 12px;
            }
            .re-btn {
                cursor: pointer;
                margin-right: 20px;
            }
            .btn-w {
                cursor: pointer;
            }
            .submit-btn {
                cursor: pointer;
                width: 200px;
                margin: 0 auto;
                text-align: center;
                font-size: 16px;
                color: #4083d4;
                line-height: 36px;
                height: 40px;
                border: 2px solid #1872d0;
            }
            .inp-box {
                margin: 14px 16px 0 16px;
                height: 50px;
                input {
                    width: 100%;
                    border: 1px solid #f1f2ff;
                    padding: 11px;
                    height: 100%;
                    font-size: 12px;
                    display: block;
                }
            }
        }
        .loginb {
            width: 100%;
            height: 299px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        height: 1264px;
        .login-box {
            height: 1000px;
        }
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .section {
        height: 1264px;
        .login-box {
            height: 1000px;
        }
    }
}

@media (min-width: 992px) {
    .section {
        height: 1264px;
        .login-box {
            height: 1000px;
        }
    }
}