@import "common";
@import "./header.css";
@import "./footer.css";

.swiper-container {
    width: 100%;
    height: 650px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}


h3 {
    background: url('../images/zhuangshitiao.png') no-repeat 0 center;
    background-size: contain;
    font-size: 30px;
    font-weight: 700;
}

nav{
	width: 100%;
	height: 73px;
	margin-top: 72px;
	background:transparent url('../images/dianbo/nav_bg.png') no-repeat;
	.container{
		margin: 0 auto;
        height: 73px;
        line-height: 73px;
        padding: 0 68px;
        text-align: center;
        @include flex();
		a{
			height: 62px;
            flex: 1;
			font-size: 16px;
			color: #181818;
			text-decoration: none;
			cursor: pointer;
			position: relative;
		}
		a.active{
			color: #1872d0;
		}
		a.active:after{
			content: '';
		    position: absolute;		    
		    height: 4px;
		    width: 32px;
		    border-radius: 2px;
		    bottom: 2px;
		    left: calc(50% - 16px);
		    background-image: url('../images/dianbo/nav_xzk.png');
		    background-size: cover;
		}
		.toggle_box{
			display: block;
			width: 186px;
			height: 288px;
			position: absolute;
			left: -17px;
			top: 84px;
			background: #fff;
			text-align: left;
			z-index: 299;
			div{
				height: 48px;
				line-height: 48px;
				padding:0 20px;
				color: #666;
				font-size: 14px;
			}
			div.active{
				color: #000;
				background: #f2f6f9;
				position: relative;
			}
			div.active:after{
				content: '';
			    position: absolute;		    
			    height: 12px;
			    width: 12px;
			    border-radius: 100%;
			    background: #1872d0;
			    top: calc(50% - 6px);
			    right: 20px;
			}
		}
	}
}
section{
	.banner-box{
		height: 650px;
		position: relative;
		.banner_text{
			height: 98px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 310;
			background:transparent url('../images/dianbo/banner_bgbottom.png') no-repeat;
			p{
				height: 24px;
				line-height: 24px;
				font-size: 24px;
				color: #fff;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 0;
			}
			p:nth-child(2){
				margin-top: 20px;
			}
		}
	}
	.fwts{
		h3{
			height: 30px;
			margin-top: 48px;
			margin-bottom: 20px;
		}
		p{
			font-size: 16;
			line-height: 24px;
			text-align: center;
			margin: 0;
		}
		div[class*='col-']{
			min-height: 265px;
			padding-top: 30px;
			h4{
				font-size: 18px;
				color: #000;
				font-weight: 900;
			}
			p{
				font-size: 14px;
				color: #666;
			}
		}
	}
	.fenge{
		height: 1px;
		background:transparent url('../images/dianbo/fenge.png') no-repeat;
		background-size: cover;
	}
	.hxgn{
		.row{
			.h_title{
				font-size: 24px;
				color: #000;
				font-weight: 900;
				text-align: center;
				margin-top: 46px;
				margin-bottom: 20px;
			}
			div[class*='col-']{
				padding-top: 0px;
				height: 180px;
				h4{
					font-size: 16px;
					color: #000;
					font-weight: 500;
					margin-top: 10px;
				}
				p{
					font-size: 14px;
					height: 14px;
					color: #666;
				}
				.title-tops{
					margin-top: 18px;
				}
			}
		}
		h3{
			margin-top: 38px;
			margin-bottom: 48px;
		}
	}
	.jjfa{
		height: 840px;
		width: 100%;
		background:transparent url('../images/dianbo/jjfabg.png') left top no-repeat;
		background-size: 100% 100%;
		.row{
			height: 280px;
			padding: 36px 0;
			background-color: #f9f9f9;
			z-index: 310;
			h4{
				color: #2f80d5;
				font-size: 24px;
			}
			ul{
				li{
					height: 48px;
					line-height: 48px;
					font-size: 14px;
					color: #6f6f6f;
					list-style-type: disc;
				}
			}
			.center{
				ul{
					padding-left: 40px;
					font-size: 14px;
				}
			}
		}
		.row.active{
			background-color: #fff;
			box-shadow: 0px 0px 10px 1px #1872d0;
			z-index: 320;
			ul{
				li{
					color: #191919;
				}
			}
		}
	}
	.cpys_title{
		h3{
			margin-top: 48px;
			margin-bottom: 48px;
		}
	}
	.cpys{
		width: 100%;
		height: 600px;
		background:transparent url('../images/dianbo/cpysbg.png') left top no-repeat;
		background-size: 100% 100%;
		.cpys_flexBox{
			height: 600px;
			@include flex();
			@include justify-content(space-between);
			@include align-items(center);
			div.box{
				height: 300px;
				width: 285px;
				padding-top: 60px;
				background-color: #fff;
				.img{
					height: 100px;
					padding-top: 10px;
				}
				h5{
					color: #2f80d5;
					font-size: 18px;
					margin-top: 30px;
				}
				p{
					color: #666;
					font-size: 14px;
				}
			}
			div:last-child{
				margin-right: 0;
			}			
		}		
	}
}